# Capstone Final Notebook

## Business Problem

A Buisness man wants to open up a chain of Indonesian Cusine restaurants in Mumbai. He would like to know the best places to open restaurants and also is thinking of getting some food trucks as well and how to position them.

## Data Set

The data set includes different parts of Mumbai which consists of diffirent Neighborhoods in them.

In [9]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import folium
import requests
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json


from geopy.geocoders import Nominatim

import requests
from pandas.io.json import json_normalize

import matplotlib.cm as cm
import matplotlib.colors as colors

from sklearn.cluster import KMeans

print('Libraries Imported')

Libraries Imported

In [115]:
data_url = 'https://en.wikipedia.org/wiki/List_of_neighbourhoods_in_Mumbai'
data_html = requests.get(data_url).text
soup = bs(data_html,'lxml')

In [188]:
import csv
csv_file = open('data_mumbai.csv', 'w', newline =  '')
csv_writer = csv.writer(csv_file)
csv_writer.writerow(['Area','Neighborhood'])
areas = soup.find_all('h3')
areas = []
for a in areass:
    areas.append(a.text[:-6])
n = soup.find_all('li')
areass = areass[:39]
count = soup.find_all('ul')
count = count[5:39]
i = 0
for a in count:
    Area = areas[i]
    i+=1
    for b in a.find_all('li'):
        Neigh = b.text
        csv_writer.writerow([Area,Neigh])
csv_file.close()

In [190]:
Neighborhoods = pd.read_csv('data_mumbai.csv')
Neighborhoods.head()

      Area    Neighborhood
0  Andheri          Amboli
1  Andheri         Chakala
2  Andheri      D.N. Nagar
3  Andheri  Four Bungalows
4  Andheri        JB Nagar